html{}

body {
	font-family:"Microsoft Yahei";
	font-size:15px;
	margin:0;
	background-color: #FCFCFC;
}

img{
	style="margin-top:15px";
	style="margin-top:15px";
}

a {
	text-decoration:none;
}
a:link {
		color: #8E8E8E;
}
	
a:visited {
			color: #8E8E8E;
}
a:hover {
	text-decoration:none;color:#f00;
	font-size: 150%;
	text-decoration: underline;
}

.foot {
	margin: 0px auto; width: 1050px; font-family: arial, "宋体"
}

.foot_left {
	float: left; 
	clear: both; 
	width = 300px;
	margin: 0px auto 5px;  

}

	
.foot_right1 {
		float: left;
		position:relative;
		top:50px;
		right:-350px;
}

.foot_right2 {
		float: left;
		position:relative;
		top:120px;
		right:-200px;
}

